<form>
  <div class="form-group">
    <label for="name">Enter Name Of Cart</label>
    {{input id="name" value=name class="form-control"}}
  </div>
  <button class="btn btn-success" {{action "save"}}>Submit New Pod</button>
</form>
